/* estilos */
/* resultados */
body{
    text-align: center;
}
#mostrar {
    background-color: pink;
    margin: 5%;
    text-align: left;
}
 h5{
     padding-left: 15px;
     padding-right: 15px;
 }